    h1, h2{
                    text-align: center;
                }
	table, td {
		border: 1px solid black;


	}
    th, td {
    padding: 25px;
    text-align: center;
    }


				ul {
			font-family: 'Times New Roman', Times, serif;
			font-size: 30px;
		}

    .form-control {
        width: 100%;
    }


    thead{
        text-align: center;
    }
    .table{
        width:80%;
        margin-left: 150px;

    }