#graph-area {
    margin: auto;
    height: 650px;
    width: 1200px;
    padding: 0;
    border: 1px solid black;
}

#header {
    text-align: center;
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
}

#alg-name {
    font-size: 25px;
    text-align: left;
    font-family: Monospace;
    font-weight: bold;
}
#alg-seek {
    font-size: 20px;
    text-align: left;
}
