divx
{
    display:inline-block;
    background-color: black;
    color:green;
    width: 1250px;
    height: 400px;
    border: 3px solid grey;
    position:relative;
    top:150px;
    left:50px;
    overflow: auto;
}

.textbox 
{ 
    background: black; 
    height:25px; 
    width: 275px; 
    border: none; 
    color: green; 
    outline: none; 
}

.container {
    width: 1140px;
    min-height: 600px;
    background-color: black;
    