@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 6em;
}
p{
	font-size: 2em;
}
a {
    color: #40586E;
    text-decoration: none;
}

a:hover 
{
     color:#293F53; 
     text-decoration:none; 
     cursor:pointer;  
}
.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
.section{
	text-align:center;
}
.row {
    display: flex;
}

.column2 {
    flex: 60%;
}

.column2 h1 {
	color: #263f66;
}

.column2 a {
	color: #3b5b8e;
}

.column1 {
    flex: 60%;
}

.column1 h1 {
	color: #163836;
}

.column1 a {
	color: #163836;
}

#scheduling-style ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#scheduling-style li a {
	background-color: #39968f;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	text-align: center;
    display: inline-block;
    width: 70%;
    margin: 10px;
    font-size: 2em;
    -webkit-border-radius: 10px;
            border-radius: 10px;
}
#scheduling-style li.active {
    background:#666;
	background: rgba(0,0,0, 0.5);
	color: #000;
}

#d-scheduling-style ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#d-scheduling-style li a {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #8cabbe;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	text-align: center;
    display: inline-block;
    width: 70%;
    margin: 10px;
    font-size: 2.5em;
    -webkit-border-radius: 10px;
            border-radius: 10px;
}

#d-scheduling-style li a:hover {
	background-color: #738c9c;
}

#synchronization-style ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#synchronization-style li a {
	background-color: #a4a8d1;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	text-align: center;
    display: inline-block;
    width: 70%;
    margin: 10px;
    font-size: 2em;
    -webkit-border-radius: 10px;
            border-radius: 10px;
}

#synchronization-style li a:hover {
	background-color: #878aac;
}

#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}
.twitter-share-button{
	position: fixed;
	z-index: 99;
	right: 149px;
	top: 9px;
}

